container_commands:
       01_chmod:
        command: "chmod +x .platform/hooks/postdeploy/copy_env-postdeploy-script.sh"

files:
    "/etc/php.d/project.ini" :
        mode: "000644"
        owner: root
        group: root
        content: |
          upload_max_filesize = 64M
          post_max_size = 64M